input{
    background-color: #fafafa;
    color: #525252;
    outline: none;
    border: 0.5px solid #e0e0e0;
    border-radius: 5px;
    padding: 3%;
    font-size: medium;
    width: 75%;

}
.part{
    margin-left: 5%;
    align-self: flex-start;
    width: 100%;
}