.button-register{
    margin-top: 2%;
    background-color:#1aa3ff;
    outline:none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    width: 83%;
    padding: 3%;
    font-size: large;
    font-weight: 600;
}
.button-register:hover{
    background-color: #4098d2;
}