body{
    font-family: 'Poppins', sans-serif;

}
.profile-head{
    width: 65%;
    display: flex;
    margin-left: 32%;
    margin-top: 3%;
    position: absolute;   
}
.profile-image{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;

}
.profile-image img{
    max-width: 100%;
    max-height:100% ;
}
.profile-details{
    margin-left: 10%;
    display: flex;
    width: 100%;
    gap: 35px;
    align-items: baseline;
}
.profile-details span{
    font-size: x-large;
}
.button-profile{
    text-align: center;
    color:black;
    font-weight: 400;
    background-color: #efefef;
    font-size: larger;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.button-profile:hover{
    background-color: #aeaeae;
}
.details-container{
    display: flex;
    flex-direction: column;
    width:75%;
    gap: 20px
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
